$white:#FAFAFA;
$black:#111;
$accent:#547fc3;
$grad1dark: #7474bf;
$grad1light: #348ac7;
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-track {
  background: #E0E0E0;
}

::-webkit-scrollbar-thumb {
  background: #555;
  background: -moz-linear-gradient(#555 0%, #333 100%);
  background: -webkit-gradient(color-stop(0%, #555), color-stop(100%, #333));
  background: -webkit-linear-gradient(#555 0%, #333 100%);
  background: -o-linear-gradient(#555 0%, #333 100%);
  background: -ms-linear-gradient(#555 0%, #333 100%);
  background: linear-gradient(#555 0%, #333 100%);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .2);
}

::-moz-selection {
  color: #eee;
}

::selection {
  color: #eee;
}

::-moz-selection {
  background: #777;
}

::selection {
  background: #79b;
}

html {
  height: 100%;
}


/* Mixin */

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* All */

body {
  line-height: 1.7em;
  font-family: 'Open Sans', sans-serif;
  color: $black;
  font-size: 13px;
  text-rendering: optimizeLegibility !important;
}

#menu {
  position: relative;
  z-index: 99;
}

.pure-button {
  background-color: $grad1light;
  color: $black;
  padding: 0.5em 2em;
  border-radius: 5px;
}

a.pure-button-primary {
  background: $grad1light;
  color: $black;
  border-radius: 5px;
  font-size: 120%;
}

.logo {
  position: relative;
  text-indent: 100%;
  black-space: nowrap;
  overflow: hidden;
  float: left;
  padding: 0;
  background: url('../img/logo.png');
  background-size: cover;
  transition: .5s ease;
}

.logo-description {
  position: relative;
  float: left;
  padding: .6em .5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  letter-spacing: .1em;
  font-size: 18px;
  line-height: 14px;
  margin: auto;
  text-align: center;
  text-shadow: -1px 1px 3px rgba(51, 51, 51, 0.15);
  transition: .5s ease;
}

.pure-menu-heading {
  transition: .5 ease;
}

.pure-menu-heading:hover {
  filter: contrast(1.4);
  transition: .5s ease;
}

.menu-divider {
  position: relative;
  z-index: 9999;
  margin: -.5em auto 0 auto;
  width: 97%;
  border-radius: 100px;
  height: 1px;
  background-color: rgba(51, 51, 51, .2);
}

#Home {
  background: rgba(200, 200, 200, 1);
  background: -moz-linear-gradient(30deg, rgba(200, 200, 200, 1) 0%, rgba(255, 255, 255, 1) 85%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(200, 200, 200, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(30deg, rgba(200, 200, 200, 1) 0%, rgba(255, 255, 255, 1) 85%);
  background: -o-linear-gradient(30deg, rgba(200, 200, 200, 1) 0%, rgba(255, 255, 255, 1) 85%);
  background: -ms-linear-gradient(30deg, rgba(200, 200, 200, 1) 0%, rgba(255, 255, 255, 1) 85%);
  background: linear-gradient(30deg, rgba(200, 200, 200, 1) 0%, rgba(255, 255, 255, 1) 85%);
  -webkit-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 100vh;
  position: relative;
  transition: 1s ease;
}

.header {
  margin: auto;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20vh 0;
  font-family: 'Open Sans', sans-serif;
  transition: .5s ease;
  color: #444;
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0 auto;
    width: 350px;
    text-transform: uppercase;
    line-height: 36px;
  }
  h2 {
    font-weight: 300;
    letter-spacing: -.15px;
    margin-bottom: 40px;
  }
  .phone {
    display: block;
    text-align: center;
    margin: 5vh auto;
  }
  .phone img {
    margin: 0 auto;
    width: auto;
    max-width: 58vw;
    z-index: 2;
  }
}

.header-text {
  margin-top: 10vh;
  margin-left: 35px;
  margin-right: -100px;
  z-index: 3;
  text-shadow: -2px 2px 6px rgba(51, 51, 51, .35);
}

.slogan-box {
  width: 350px;
  text-align: left;
  margin: 20px auto;
  font-family: 'Raleway';
}

.custom-wrapper {
  color: $black;
  -webkit-font-smoothing: antialiased;
  height: 60px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}

.custom-wrapper.open {
  height: 20em;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 40px;
  height: 40px;
  margin: .8em auto;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.custom-toggle .bar {
  background-color: #555;
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 100px;
  position: absolute;
  top: 13px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar2 {
  background-color: #555;
  display: block;
  width: 15px;
  height: 3px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  left: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar3 {
  background-color: #555;
  display: block;
  width: 10px;
  height: 3px;
  border-radius: 100px;
  position: absolute;
  top: 23px;
  left: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 1.1em;
  width: 12px;
  left: 1px;
  background-color: $grad1light;
}

.custom-toggle.x .bar2 {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  left: 5px;
  width: 15px;
  top: 18px;
  background-color: $grad1light;
}

.custom-toggle.x .bar3 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1.65em;
  width: 12px;
  left: 1px;
  background-color: $grad1light;
}

@media (max-width: 47.999em) {
  .custom-menu-3 {
    text-align: left;
  }
  .custom-toggle {
    display: block;
  }
}

.pure-menu-u,
{
  height: auto;
}

.pure-menu-disabled,
.pure-menu-heading,
.pure-menu-link {
  padding: .2em 2.4em;
  transition: .3s ease;
}

.pure-menu-list {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: -.5px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  text-shadow: -2px 2px 6px rgba(51, 51, 51, 0.15);
  filter: blur(.2px);
  transition: .3s ease;
}

.cta-button {
  font-family: 'Open Sans', sans-serif;
  filter: brightness(110%);
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  padding: 5px 0;
  font-size: 14px;
  margin: 0;
  width: 180px;
  color: #ddd;
  border-radius: 2px;
  background: none;
  transition: .4s ease;
  font-weight: 600;
  text-shadow: -2px 2px 3px rgba(51, 51, 51, .3);
  box-shadow: 0 0 5px rgba(51, 51, 51, .2);
  animation: grad1 .3s infinite;
  opacity: 1;
  border-radius: 2px;
  border: 1px solid #ddd;
  background: linear-gradient(30deg, rgba(116, 116, 191, 0) 0%, rgba(84, 127, 195, 1) 60%);
  background-color: $grad1light;
  transition: .3s ease;
}

.cta-button:hover {
  background: linear-gradient(30deg, rgba(116, 116, 191, 1) 0%, rgba(84, 127, 195, 1) 60%);
  background-color: $grad1light;
  filter: brightness(120%);
  transition: .3s ease;
}

.pure-menu-item,
.pure-menu-link {
  color: #444;
  :hover {
    text-shadow: -0px 0px 1px rgba(51, 51, 51, .2);
    color: #555;
  }
}

.arrow a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.arrow a:hover {
  opacity: .5;
}

#arrowhead a {
  padding-top: 80px;
  cursor: pointer;
}

#arrowhead a span {
  position: absolute;
  top: 0;
  width: 26px;
  height: 26px;
  margin-top: 40px;
  margin-left: -10px;
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrowanimation 2s infinite;
  animation: arrowanimation 3s infinite;
  opacity: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 70%);
  box-sizing: border-box;
  transition: .4s ease;
}

#arrowhead a span:hover {
  border-left: 2px solid $accent;
  border-bottom: 2px solid $accent;
  transition: .4s ease;
}

@-webkit-keyframes arrowanimation {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes arrowanimation {
  0% {
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


/* */

#main {
  margin-top: 20px;
}

#loading-bar {
  background-color: $grad1dark;
  height: 2px;
  width: 0;
  position: fixed;
  z-index: 999;
  -webkit-transition: width 500ms ease-out, height 500ms ease-out;
  -moz-transition: width 500ms ease-out, height 500ms ease-out;
  -o-transition: width 500ms ease-out, height 500ms ease-out;
  transition: width 500ms ease-out, height 500ms ease-out;
}

#loading-bar.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

#loading-bar.top,
#loading-bar.bottom,
#loading-bar.left {
  left: 0;
}

#loading-bar.top,
#loading-bar.left,
#loading-bar.right {
  top: 0;
}

#loading-bar.left,
#loading-bar.right {
  width: 5px;
  height: 0;
}

#loading-bar.bottom {
  bottom: 0;
}

#loading-bar.right {
  right: 0;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #868ec9;
  background: -moz-linear-gradient(left, #868ec9 0%, #83bfe3 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #868ec9), color-stop(100%, #83bfe3));
  background: -webkit-linear-gradient(left, #868ec9 0%, #83bfe3 100%);
  background: -o-linear-gradient(left, #868ec9 0%, #83bfe3 100%);
  background: -ms-linear-gradient(left, #868ec9 0%, #83bfe3 100%);
  background: linear-gradient(to right, #868ec9 0%, #83bfe3 100%);
  box-shadow: 0px 0px 6px 1px $accent;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width .55s;
  -moz-transition: width .55s;
  -o-transition: width .55s;
  transition: width .55s;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: none;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* About */

#About {
  position: relative;
  display: block;
  height: auto;
  background: #1c1c2e;
  background: -moz-linear-gradient(30deg, #1c1c2e 0%, #0b1C34 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #1c1c2e), color-stop(100%, #0b1c34));
  background: -webkit-linear-gradient(30deg, #1c1c2e 0%, #0b1C34 100%);
  background: -o-linear-gradient(30deg, #1c1c2e 0%, #0b1C34 100%);
  background: -ms-linear-gradient(30deg, #1c1c2e 0%, #0b1C34 100%);
  background: linear-gradient(30deg, #1c1c2e 0%, #0b1C34 100%);
  -webkit-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  color: $white;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
}

.chapter {
  color: #ddd;
  display: inline-flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: inset 10px 10px 10px 1px rgba(51, 51, 51, 1);
  margin: 14vh auto 7vh auto;
}

.chapter-divider {
  position: relative;
  display: block;
  width: 6px;
  height: 24px;
  transform: skewX(-20deg);
  background: linear-gradient(30deg, $grad1light 0%, $grad1dark 100%);
  font-weight: 900;
  margin: 0 4px 0 8px;
  box-shadow: -1px 1px 4px $grad1light;
}

.chapter2 {
  margin: 24vh auto 0vh auto;
}

.chapter2-divider {
  background: linear-gradient(30deg, $grad1light 0%, $grad1dark 100%);
  margin: 0 10px 0 10px;
}

.aboutme {
  height: auto;
  margin-top: 6vh;
}

.photo {
  width: 300px;
  height: 300px;
  box-shadow: -5px 3px 47px rgba(0, 0, 0, .4);
  transform-style: preserve-3d;
}

.photo-overlay {
  width: 292px;
  height: 292px;
  margin-top: -303px;
  margin-left: 4px;
  background-image: url('../img/photo.jpg');
  background: linear-gradient(30deg, $grad1dark 0%, $grad1light 100%);
  mix-blend-mode: normal;
  transform: translateZ(30px);
  opacity: .8;
  transition: .5s ease;
}

.photo-overlay:hover {
  opacity: .7;
  transition: .5s ease;
}

.photo-text {
  font-family: 'Raleway';
  display: inline-block;
  margin: -120px 0 0 210px;
  font-size: 34px;
  transform: translateZ(50px);
  text-shadow: 0 3px 10px rgba(0, 0, 0, .6);
  color: #ddd;
}

#aboutmetext {
  text-shadow: -2px 1px 6px rgba(0, 0, 0, .5);
  color: #ddd;
  width: 400px;
  height: auto;
  h3 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: .4px;
  }
}


/* Common style */

#Work {
  height: auto;
  padding: 0 0 50px 0;
}

.cards {
  margin: 12vh auto 0 auto;
  max-width: 770px;
  width: 100%;
  font-family: 'Raleway';
}

.cards a {
  float: left;
  max-width: 250px;
  width: 33.3%;
  color: #333;
  margin: 0 10px;
}

.cards a:nth-child(odd) {
  margin: 15px 0 -15px 0;
}

.cards figure {
  position: relative;
  overflow: hidden;
  margin: 0 5px;
  background: #222;
  box-shadow: -6px 4px 20px rgba(0, 0, 0, .4);
  transition: .3s ease;
}

.cards figure:hover {
  box-shadow: -1em 1em 1.5em rgba(0, 0, 0, .1);
  transition: .3s ease;
}

.cards figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: .8;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.cards svg {
  box-shadow: inset -1px 1px 10px rgba(0, 0, 0, .2);
}

.cards figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.cards figcaption h2 {
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: .2px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: -2px 2px 4px rgba(51, 51, 51, .1);
  font-weight: 600;
  background: -webkit-linear-gradient(30deg, $grad1dark, $grad1light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 140%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.cards figcaption p {
  padding: 0 6px;
  color: #555;
  line-height: 116%;
  font-weight: 400;
  letter-spacing: -.4px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, transform 0.3s;
  text-shadow: -2px 2px 4px rgba(51, 51, 51, .1);
}

.cards figcaption h2,
.cards figcaption p {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.cards figcaption,
.cards figcaption h2,
.cards figcaption p,
.cards figure button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


/* Style for SVG */

.cards svg {
  position: absolute;
  top: -1px;
  /* fixes rendering issue in FF */
  z-index: 10;
  width: 100%;
  height: 100%;
}

.cards svg path {
  fill: #e0e0e0;
}

.cards:after {
  content: "";
  clear: both;
  display: table;
}


/* Hover effects */

.cards a:hover figure img {
  opacity: 1;
  filter: contrast(105%);
}

.cards a:hover figcaption h2,
.cards a:hover figcaption p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cards a:hover figcaption p {
  opacity: 0;
}

#icon {
  position: absolute;
  margin: 0;
  padding: 0;
  left: calc(50% - 75px);
  top: calc(50% - 40px);
  z-index: 10;
  max-width: 140px;
  max-height: 140px;
}

#icon img:hover {
  filter: contrast(10%);
}


/* Media Queries */

@media (min-width: 48em) {
  body {
    font-size: 15px;
  }
}

@media screen and (min-width:1201px) {
  section {
    border-radius: 2px;
  }
  #Home,
  #About {
    box-shadow: -1px 1px 40px rgba(0, 0, 0, .7) !important;
    border: 1px solid $black;
  }
  #Home {
    margin: 3vh auto 0vh auto;
    height: 97vh;
  }
  body {
    margin: 3vh auto 3vh auto;
    max-width: 97vw !important;
    transition: 1s ease;
    background-color: #222;
  }
}

@media screen and ( max-width: 1200px) {
  .header {
    padding: 10vh 0;
  }
  .pure-menu-link {
    padding: .2em 1.2em;
  }
  #arrowhead a span {
    margin-top: 0px;
  }
  #aboutmetext {
    margin: 7vh auto;
    padding: 20px;
  }
}

@media screen and (max-width: 950px) {
  .phone img {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .pure-menu-item {
    font-size: 1.1em;
    padding-top: .4em;
  }
  .logo {
    margin: 0 0 0 calc(50% - 25px - 90px);
  }
  .cta-button {
    margin-top: -20px;
    padding: 7.5px 0;
  }
  .header-text {
    margin: 0 auto;
    h1 {
      width: 350px;
    }
  }
  .slogan-box {
    width: 350px;
  }
  #language {
    margin-top: -6px;
    color: $accent;
  }
}

@media screen and (max-width: 928px) {
  .cards a {
    width: 33.333%;
  }
  .cards a {
    margin-top: 40px;
  }
}

@media screen and (max-width: 720px) {
  .cards {
    max-width: 500px;
  }
  .cards a {
    width: 50%;
  }
  .cards a:nth-child(even) {
    margin: 200px 0 -200px 0;
  }
  .cards a:nth-child(1) {
    margin-top: 0;
  }
  .chapter2 {
    margin-top: 40px;
  }
  .cards figcaption h2 {
    margin-bottom: 0px;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  .cards figcaption p {
    margin: 0;
    padding: 0 10px;
  }
}

@media screen and (max-width: 432px) {
  .cards {
    width: 200px;
    margin: 50px auto;
  }
  
  .cards a {
    width: 100%;
  }
  .cards a:nth-child(even) {
    margin: 40px 0 10px 0;
  }
}

@media only screen and (orientation: landscape) and (max-width: 768px) {
  .header-text h1 {
    margin-top: -20px;
  }
  .header .phone {
    margin: 0;
  }
  .phone img {
    position: absolute;
    top: 28%;
    left: 55%;
    height: 160px;
    opacity: .5;
  }
  .cards a {
    width: 32%;
  }
}